@media (width <900px) {

    * 
    {
        box-sizing: border-box;
    }
    .container{
    padding: 48px 20px; 
    width: 100%;
    box-sizing: border-box;
    }

    body {
        align-items: flex-start;
    }
.box1 {
    position: fixed;
    top: 0;
    left: -100%;
    /* Ẩn box1 ra khỏi màn hình */
    width: 50%;
    /* Chiếm nửa màn hình */
    height: 100%;
    transition: all 0.3s ease;
    /* Hiệu ứng chuyển động */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    /* Hiệu ứng bóng */
    z-index: 90;
}
   .box1.show {
      left: 0;
   }

    .box2 {
        display: flex;
        flex-direction: column;
        margin: 0;
        max-width: 390px;
        min-width: 390px;
        margin: auto;
        min-height: fit-content !important;
        padding: 64px 0;
    }
    .box2>div:not(.background-video) {
        box-sizing: border-box;
        max-width: 390px;
        min-width: 390px;
    }


    .bang-trang-thai{
        /* margin-top: 1000px !important; */
        min-height: 100% !important;
    max-width: 390px;
    padding: 0;
    }
    .cot.avatar{
        display: flex;
         flex-direction: column;
         align-content: flex-start;

    }
    .anh-dai-dien {
        margin: 0;
        width: 300px;
        height: 500px;
        border: 2px solid #053fff;
    }
    .cot.chi-so { 
        display: none;
    }
  .bang-trang-thai::after{
    content: "";
        display: block;
        width: 100px;
        height: 100px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        top: -50px;
        /* Chèn ra ngoài khung trên */
        right: 10px;
  }
  .main-box{
    max-width: 390px;
        min-width: 390px;
  }
  .music-player {
    max-width: 390px;
        min-width: 390px;   
  }
    body>.content-header {
        min-width: 100%;
    padding: 16px;
    left: 0;
  }
    .noi-dung{
        padding: 0;
    }

    .background-video video {
        width: 100vw;
        height: 100vh;
    }

    .profile-pictures {
        display: block;
    }
    .bottom-bar{
        display: none;
    }
}